$white: #fff;
$black: #000;

$MAIN_BACKGROUND_COLOR: $white;
$MAIN_TEXT_COLOR: $black;

$BORDER_RADIUS_MEDIUM: 6px;
$BORDER_COLOR: rgba($color: $black, $alpha: .2);

$SPACING_SMALL: .3rem;
$SPACING_MEDIUM: .7rem;

